<div class="auth-container">
  <div class="auth-card">

    <h2 class="auth-title">アカウント作成</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <!-- 名前 -->
      <div class="form-group">
        <%= f.label :name, "名前" %> <!--　表示する名前と保存するカラム名　-->
        <%= f.text_field :name, class: "form-control", placeholder: "例：埼英 太郎" %>
      </div>

      <!-- メール -->
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :classroom_id, "クラス" %> 
          <!--　表示する名前と保存するカラム名　-->
          <!--  フォーム送信時に保存するカラム名を指定　-->
        <%= f.collection_select :classroom_id,
              Classroom.all,
              :id,
              :name,
              { prompt: "クラスを選択" },
              class: "form-control" %>
            <!-- 画面に表示する文字列 -->
            <!--- idはvalueの部分。nameは表示名 -->
            <!-- <select>
                    <option value="1">中3A</option>
                    <option value="2">中3B</option>
                  </select>のように表示される
            -->
      </div>

      <!-- パスワード -->
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <!-- 確認 -->
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <!-- 送信 -->
      <div class="actions">
        <%= f.submit "アカウントを作成する", class: "btn btn-primary w-100" %>
      </div>

    <% end %>

  </div>
</div>