  <!-- 英検級のタブ -->
<div class="grade-tabs-wrapper">
  <div class="grade-tabs">
  </div>
</div>  

  <!-- 検索バー -->
  <div class="search-wrapper">
  <%= form_with url: homeworks_path, method: :get, local: true do |f| %>
    <%= f.search_field :q, placeholder: "宿題を検索", class: "search-input" %>
    <%= f.submit "🔍", class: "search-button" %>
  <% end %>
</div>

    <!-- 宿題一覧 -->
<div class="homework-container">
  <h1 class="page-title">宿題一覧</h1>

    <% @homeworks.each do |homework| %>
        <%= link_to homework_path(homework), class: "homework-card" do %>
          <!-- link_to 'path', class: '~~~' doで書くこと。 -->
          <div class="card-top">
            <span class="badge grade"><%= homework.classroom.eiken_level %></span>
                                        <!-- homeworkが属しているclassroomのeiken_level -->  
          </div>
          <h2 class="title">
            <%= homework.title %>
          </h2>
          <div class="period">
            <i class="fa-solid fa-calendar"></i>
            <%= homework.test_start_date %> 〜 <%= homework.test_end_date %>
          </div>
        <% end %>
    <% end %>
</div>

<%= render 'shared/navigation_bar' %>